services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - db-data:/app/database
    environment:
      - NODE_ENV=development

volumes:
  db-data:
